@import url('https://fonts.googleapis.com/css2?family=Jost&family=Playfair+Display:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #F8F8F8;
}
:root{
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-paragrafo: 'Jost', sans-serif;
    --fonte-titulo-grande-telas-g: 50px;
    --fonte-titulo-medio-telas-g: 25px;
    --fonte-paragrafo-grande-telas-g: 30px;
    --fonte-paragrafo-medio-telas-g: 20px;
    --fonte-titulo-grande-telas-m-p: 30px;
    --fonte-titulo-medio-telas-m-p: 20px;
    --fonte-paragrafo-grande-telas-m-p: 20px;
    --fonte-paragrafo-medio-telas-m-p: 16px;
    --cor-texto-preto: #1A1A1A;
    --cor-texto-branco: #FFFFFF;
    --cor-degrade-frio-1: #FCC0C3;
    --cor-degrade-frio-2: #8C88FD;
    --cor-degrade-quente-1: #FF656B;
    --cor-degrade-quente-2: #F2B142;
}

.titulo{
    font-family: var(--fonte-titulo);
}
.paragrafo{
    font-family: var(--fonte-paragrafo);
}
.preto{
    color: var(--cor-texto-preto);
}
.branco{
    color: var(--cor-texto-branco);
}

#foto-mulher-hero-row, #btn-hero-row, #localização{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.50);
}
#foto-mulher-hero-row{
    border-radius: 500px 500px 0px 0px;
}
#btn-hero-row{
    background: linear-gradient(90deg, var(--cor-degrade-quente-1) 0%, var(--cor-degrade-quente-2) 100%);
    border: none;
    border-radius: 5vw;
}

.caixa-fundo-depoimento{
    border-radius: 300px;
    background: linear-gradient(180deg, var(--cor-degrade-frio-1) 0%, var(--cor-degrade-frio-2) 100%);
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.50);
}

@media (max-width: 677px) {
    .margem-lateral{
        margin-left: 10%;
        margin-right: 10%;
    }
    .espaçamento-cima-baixo{
        padding-top: 12%;
        padding-bottom: 12%;
    }
    .espaçamento-cima{
        padding-top: 12%;
    }
    .espaçamento-baixo{
        padding-bottom: 12%;
    }
    .espaçamento-baixo-texto{
        margin-bottom: 7%;
    }
    .caixa-espaçamento{
        padding: 5% 8%;
    }
    .centro{
        text-align: center;
    }
    .titulo-g{
        font-size: var(--fonte-titulo-grande-telas-m-p);
    }
    .titulo-m{
        font-size: var(--fonte-titulo-medio-telas-m-p);
    }
    .paragrafo-g{
        font-size: var(--fonte-paragrafo-grande-telas-m-p);
    }
    .paragrafo-m{
        font-size: var(--fonte-paragrafo-medio-telas-m-p);
    }

    #hero-row, #segunda-seção, #quarta-seção, #caixa-icones-redes-socias{
        display: flex;
    }
    #segunda-seção, #quarta-seção{
        flex-direction: column;
    }
    #segunda-seção, #quarta-seção, #caixa-icones-redes-socias{
        align-items: center;
    }
    #caixa-icones-redes-socias{
        justify-content: space-evenly;
    }
    #hero-row{
        flex-direction: column-reverse;
    }

    #foto-mulher-hero-row{
        width: 100%;
    }
    #caixa-icones-redes-socias{
        width: 100%;
    }
    #btn-hero-row{
        width: 80%;
        padding: 3% 2%;
        border-radius: 25px;
    }
    .icone-rede-social{
        width: 35px;
        height: 35px;
    }
    
    #hero-row, footer{
        background: linear-gradient(90deg, var(--cor-degrade-frio-1) -5.5%, var(--cor-degrade-frio-2) 99.45%);
    }
    #titulo-hero-row, #paragrafo-hero-row, #btn-hero-row, #caixa-img-hero-row{
        margin-left: 10%;
        margin-right: 10%;
    } 
    
    .caixa-beneficios{
        width: 65vw;
    }
    .sublinhado{
        text-decoration: 5px underline solid var(--cor-degrade-quente-1);
    }
    #localização{
        width: 100%;
        overflow: hidden;
    }
    iframe {
        width: 100%;
    }
}
@media (min-width: 678px){
        .margem-lateral{
            margin-left: 7%;
            margin-right: 7%;
        }
        .espaçamento-cima-baixo{
            padding-top: 7%;
            padding-bottom: 7%;
        }
        .espaçamento-cima{
            padding-top: 10%;
        }
        .espaçamento-baixo{
            padding-bottom: 10%;
        }
        .espaçamento-baixo-texto{
            margin-bottom: 6%;
        }
        .caixa-espaçamento{
            padding: 3% 8%;
        }
        .centro{
            text-align: center;
        }
        .titulo-g{
            font-size: var(--fonte-titulo-grande-telas-m-p);
        }
        .titulo-m{
            font-size: var(--fonte-titulo-medio-telas-m-p);
        }
        .paragrafo-g{
            font-size: var(--fonte-paragrafo-grande-telas-m-p);
        }
        .paragrafo-m{
            font-size: var(--fonte-paragrafo-medio-telas-m-p);
        }
    
        #hero-row, #caixa-beneficios-flex, #terceira-seção-flex, #quarta-seção-flex, #caixa-icones-redes-socias{
            display: flex;
        }
        #hero-row, #terceira-seção-flex, #quarta-seção-flex{
            align-items: center;
        }
        #caixa-icones-redes-socias, #hero-row{
            justify-content: space-evenly;
        }

        #caixa-texto-hero-row{
            width: 45vw;
            margin-left: 0 2vw;
        }

        #foto-mulher-hero-row{
            width: 45vw;
            max-width: 350px;
            margin-right: 0 2vw;
        }
        #btn-hero-row{
            width: 85%;
            padding: 4% 5%;
            border-radius: 25px;
        }
        
        #titulo-terceira-seção{
            margin-right: 5vw;
        }
        #quarta-seção-caixa-texto{
            width: 60vw;
            margin-right: 2vw;
            text-align: justify;
        }
        #caixa-icones-redes-socias{
            width: 40vw;
        }
        .icone-rede-social{
            width: 35px;
            height: 35px;
        }
        
        #hero-row{
            background-image: url('fundo-hero-row-telas-m.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100dvh;
        }
        footer{
            background: url('./footer-fundo-telas-m.svg');
            background-size: cover;
        }
        footer > h1 {
            margin-top: 5vw;
        }
        
        .caixa-beneficios{
            padding: 0 2vw;
        }
        .sublinhado{
            text-decoration: 5px underline solid var(--cor-degrade-quente-1);
        }
        #localização{
            width: 100%;
            height: 500px;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 500px;
        }
}

@media (min-width: 1000px){
    .margem-lateral{
        margin-left: 7%;
        margin-right: 7%;
    }
    .espaçamento-cima-baixo{
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .espaçamento-cima{
        padding-top: 10%;
    }
    .espaçamento-baixo{
        padding-bottom: 10%;
    }
    .espaçamento-baixo-texto{
        margin-bottom: 6%;
    }
    .caixa-espaçamento{
        padding: 8% 10%;
    }
    .centro{
        text-align: center;
    }
    .titulo-g{
        font-size: var(--fonte-titulo-grande-telas-g);
    }
    .titulo-m{
        font-size: var(--fonte-titulo-medio-telas-g);
    }
    .paragrafo-g{
        font-size: var(--fonte-paragrafo-grande-telas-g);
    }
    .paragrafo-m{
        font-size: var(--fonte-paragrafo-medio-telas-g);
    }

    #hero-row, #caixa-beneficios-flex, #terceira-seção-flex, #quarta-seção-flex, #caixa-icones-redes-socias{
        display: flex;
    }
    #hero-row, #terceira-seção-flex, #quarta-seção-flex{
        align-items: center;
    }
    #caixa-icones-redes-socias, #hero-row{
        justify-content: space-evenly;
    }

    #caixa-texto-hero-row{
        width: 45vw;
        margin-left: 0 2vw;
    }
    #caixa-beneficios-flex{
        margin-left: 5%;
        margin-right: 5%;
    }

    #foto-mulher-hero-row{
        width: 36.5vw;
        max-width: 100%;
    }
    #btn-hero-row{
        width: 80%;
        padding: 2% 5%;
        border-radius: 20px;
    }
    .quebrar-texto{
        display: block;
    }
    #titulo-terceira-seção{
        margin-right: 5vw;
        text-align: left;
    }
    #quarta-seção-caixa-texto{
        width: 60vw;
        margin-right: 2vw;
        text-align: justify;
    }
    .icone-rede-social{
        width: 70px;
        height: 70px;
    }
    
    #hero-row{
        background-image: url('fundo-hero-row-telas-g-m.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    footer{
        background: url('./fundo-footer-telas-g-m.svg');
        background-size: cover;
    }

    .caixa-beneficios{
        padding: 0 4vw;
    }
}